// timeline controls

.controls {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.game-info {
  font-size: 16px;
  margin-left: $spacer;
}

.select-game {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  label {
    @include h3;
    display: inline;
    margin: 0 $spacer 0 0;
  }
}

.timeline-nav {
  display: flex;
  flex-flow: row nowrap;
  font-size: 40px;
  font-weight: bold;
  list-style: none;
  margin: 0 20px 0 0;
  padding: 0;

  li {
    margin: 0 10px 0 0;
    padding: 0;

    &:last-child {
      margin-right: 0;
    }

    a {
      cursor: pointer;
      line-height: 1em;
    }
  }
}

.timeline {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background-color: $gray;
    cursor: pointer;
    flex-grow: 1;
    height: 10px;
    margin: 0;
    max-width: 20px;
    padding: 0;
    position: relative;

    .turn {
      display: none;
    }

    &.active {
      background-color: transparent;

      &::after {
        background-color: $primary;
        border-radius: 50%;
        color: red;
        content: '';
        display: block;
        height: 20px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        z-index: 1;
      }

      .turn {
        color: $primary;
        display: block;
        font-size: 9px;
        text-align: center;
        position: absolute;
        top: 9px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
